<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CoreConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.20.30.6)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID = PRUE12C)));User Id=SIDCOREPRUE;Password=S1dC0r3Pru3;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <appSettings>
    <add key="connection" value="CoreConnection"/>
	<add key="AuthApiUrl" value="https://pruebasirl.fogacoop.gov.co/SecurityApiTestv2/api/" />
    <add key="ApiToken" value="819B984D-D124-44A1-97B9-988B10247F87" />
	<add key="timeoutSessionInMinutes" value="30"/>
	<add key="timeoutSessionInMilliseconds" value="600000" />   
    <!--<add key="timeoutSessionInMinutes" value="40"/>n-->
    <!--<add key="timeoutSessionInMilliseconds" value="1800000" /> -->   
    <add key="monitoreoSchema" value="monipru" />
    <add key="recaudoSchema" value="recapsd" />
	<add key="timeWaitingForAnswerInactivitySeconds" value="300" />
	
	<!--Inicio llaves de autenticación-->
    <add key="UserBasicAuth" value="coreintegration"/>
    <add key="PasswordBasicAuth" value="Abc!2345"/>
    <!--Fin llaves de autenticación-->
  </appSettings>
</configuration> 