@model Ferreteria.Application.Website.Models.RememberPassword
@{
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/favicon.png" />
    <title>@ViewData["Title"] - Sistema de Gestión de Inventario</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
</head>
<body class="bg-white">
    <input type="hidden" id="baseUrl" value="@ViewBag.UrlBase" />
    <div class="">
        <main role="main" class="pb-3">
            <partial name="_ModalPartial" />
            <div class="container">
                <!-- Outer Row -->
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12 col-md-9">
                        <div class="card o-hidden border-0 my-5 shadow-lg">
                            <div class="card-body p-0">
                                <!-- Nested Row within Card Body -->
                                <div class="row">
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                    <div class="col-lg-6">

                                        <div class="p-5">
                                            <div>
                                                <h1 class="h4 text-gray-900 mb-2 text-center">¿Olvidaste tu contraseña?</h1>
                                                <br />
                                                <p class="mb-4">
                                                    Sólo tienes que introducir nombre de usuario a continuación
                                                    y le enviaremos un <b>Token</b> para restablecer su contraseña.
                                                </p>
                                            </div>
                                            <form data-ajax="true" data-ajax-method="POST" id="formRememberPassword" class="user">
                                                <div class="form-group">
                                                    <input type="text" class="form-control form-control-user required"
                                                           id="UserName" name="UserName"
                                                           placeholder="Nombre de usuario">
                                                </div>

                                                <button type="button" class="btn btn-primary btn-user btn-block" onclick="rememberPassword();" data-tippy-content="Pulse para Verificar.">Verificar</button>

                                                <br />
                                                <hr>
                                                <a href="@Url.Action("Index","Login")">&larr; Volver al inicio</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap-notify.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sb-admin-2.min.js" asp-append-version="true"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/tippy.js"></script>
    <script src="~/js/core/Login/Login.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            CreateAllTooltips();
        });
    </script>
</body>
</html>