@model IEnumerable<Core.Application.Website.Models.Monitoreo.TopesTasasModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit");
}

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.FecIni).Titled("Fecha Incio").RenderedAs(s => s.FecIni?.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FecFin).Titled("Fecha Fin").RenderedAs(s => s.FecFin?.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.TasaUsura).Titled("Tasa Usura").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.NombreClasificacion).Titled("Clasificación").UsingDefaultFilterMethod("contains");
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key ' tabindex='0' data-tippy-content='Editar' onclick=\"TopesTasas.OpenEdit('{urlEdit}?id={s.Id}');\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
