.cuerpo-formulador input, .cuerpo-formulador select {
    border-radius: 7px;
    border: 1px #bbb solid;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0.16rem 0.5rem;
}

.agruparVA, .agruparWA, .agruparVB {
    width: 30px;
}

.agruparVA, .agruparWA {
    background-color: #be2edd;
    margin-left: -15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.agruparVB {
    background-color: #c56cf0;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.aritmetica {
    background-color: #fbc531;
}

.logica {
    background-color: #12CBC4;
    margin-left: -20px;
}

.comparacion {
    background-color: #4cd137;
}

.agruparVC {
    width: 30px;
    background-color: #e056fd;
}

.agruparWB {
    width: 30px;
    background-color: #fffa65;
}

.agruparVB::before {
    content: "\A";
    white-space: pre;
}

.agruparWC {
    width: 30px;
    background-color: #00a8ff;
}

.separator {
    padding-left: 30px;
    display: block;
}

#Resultado {
    background: #F8EFBA;
    border: dashed #ccc 2px;
    padding: 20px;
    font-size: 1.5em;
    font-weight: 500;
}

.cuerpo-formulador {
    background: #eee;
    padding: 10px;
}

select.comparacion, select.agruparVA, select.agruparVB, select.agruparVC, select.aritmetica, select.logica {
    width: 40px;
}

textarea {
    border: 1px #ccc solid;
    border-radius: 5px;
}
select::-ms-expand {
    display: none !important;
}
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
    select.condicional {
        width: 40px;
    }