@model IEnumerable<Core.Application.Website.Models.Recaudo.MunicipiosModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit");
    var urlDelete = @Url.Action("Delete");
}

@(
Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.NombreDepartamento).Titled("Departamento").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Municipio).Titled("Código Municipio Dane").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Descripcion).Titled("Nombre Municipio").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.CodMunicipio).Titled("Código de Municipio").UsingDefaultFilterMethod("contains");
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"Municipios.OpenEdit('{urlEdit}?id={s.CodMunicipio}');\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
