@model IEnumerable<Core.Application.Website.Models.Monitoreo.ConstantesModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit");
}

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.NombrePadre).Titled("Padre").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Codigo).Titled("Código").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Nombre).Titled("Nombre").UsingDefaultFilterMethod("contains");    
    columns.Add(c => c.Descripcion).Titled("Descripción").Filterable(false).Sortable(false);
    columns.Add(c => c.Estado).Titled("Estado").RenderedAs(x => x.Estado ? "Activo" : "Inactivo").Sortable(false);    
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"Constantes.OpenEdit('{urlEdit}?id={s.Id}');\"></i></div>").Encoded(false);    
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
