@using Core.Application.Website.Models

@model Core.Application.Website.Models.ReportModel

<style>
.modal-dialog-centered {
    top: 12% !important;
}
</style>
<div class="modal-header">
    <h5 class="modal-title" id="modal-user-create-title">@ViewBag.TitlePage</h5>
</div>
<div class="modal-body" style="overflow-y: auto;">
        <div class="form-horizontal">
            <div class="row mb-5">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="col-form-label col-md-12 col-sm-12 col-xs-12">Parámetros</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @if (Model.ReportParameterList != null)
                        {
                            @string.Join(",   ", Model.ReportParameterList.Select(x => $"{x.ReportParameterDefinition.ReplaceKey} - {x.ReportParameterDefinition.Name}"));
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <label class="col-form-label col-md-12 col-sm-12 col-xs-12">Sentencia SQL</label>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        @Html.TextAreaFor(model => model.SQLSentence, htmlAttributes: new { @class = "form-control required", rows = "6", @style = "width: 100%; resize:none;", @disabled = true })
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" onclick="hideModalPartial();" data-tippy-content="Pulse para Cancelar.">Cerrar</button>
</div>