@model IEnumerable<Core.Application.Website.Models.FormatColumnModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit", "FormatColumn");
    var urlDelete = @Url.Action("Delete", "FormatColumn");
}

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.Format.Name).Titled("Formato");
    columns.Add(c => c.NombreColumna).Titled("Nombre Columna");
    columns.Add(c => c.TipoDato).Titled("Tipo Dato");
    columns.Add(c => c.LongitudDato).Titled("Longitud");
    columns.Add(c => c.AceptaNulos).Titled("Acepta Nulos").RenderedAs(x => x.AceptaNulos ? "SI" : "NO");
    columns.Add(c => c.Orden).Titled("Orden");
    columns.Add(c => c.NombreColumnaExcel).Titled("Nombre a Mostrar");
    columns.Add(c => c.Homologation.Name).Titled("Homologación");
    columns.Add(c => c.StorageColumn).Titled("Columna Almacenamiento").Sortable(false).Filterable(false).Css("colStorageColumn");
    columns.Add(c => c.IsCalculated).Titled("Formulado").RenderedAs(x => x.IsCalculated ? "SI" : "NO");
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"FormatColumn.OpenEdit('{urlEdit}?id={s.Id}');\"></i> <i class='fa fa-trash btn-lg text-danger-icon gel-tab-key' tabindex='0' data-tippy-content='Eliminar' style='margin-left:8px' onclick=\"FormatColumn.DeleteColumn('{urlDelete}?id={s.Id}','{s.FormatId}')\"></i></div>").Encoded(false);
})
)
