@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "Mensajes de error";
    ViewBag.SubTitle = "Administración para los mensajes de error.";
}

<style type="text/css">
    .select2-results__option[aria-selected=true] {
        display: none;
    }

    .tablelayout {
        table-layout: fixed;        
    }
</style>
<link href="~/css/core/mvc-grid/mvc-grid.css" rel="stylesheet" />
<link href="~/css/core/Formulator/Index.css" rel="stylesheet" asp-append-version="true"/>

<script type="text/javascript">
    showLoading();
</script>

<div class="col-md-12 col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="col-12">
                <div class="form-inline">
                    <h4 class="card-title ">
                        Mensajes de error
                    </h4>
                    <a href="#" onclick="MessageError.OpenCreate('@Url.Action("Create")');">
                        <i class="fa fa-plus-circle addrecord" data-tippy-content="Nuevo mensaje de error."></i>
                    </a>
                    <a href="#" onclick="MessageError.ExportMessageErrors('@Url.Action("ExportMessageErrors")');">
                        <i class="fa fa-download addrecord" data-tippy-content="Exportar Mensajes de Error." tabindex="0"></i>
                    </a>
                </div>
                <p class="card-category">
                    Administración para los mensajes de error.
                </p>
            </div>
        </div>


        <!-- Content Row -->
        <div class="card-body">
            <div class="table-responsive" id="grid">
                @Html.AjaxGrid(Url.Action("IndexGrid"))
            </div>
        </div>
    </div>
</div>



<script src="~/js/core/MvcGrid/mvc-grid.js"></script>
<script src="~/js/core/Petitions/Petitions.js"></script>
<script src="~/js/core/MessageError/MessageError.js" asp-append-version="true"></script>
<script src="~/js/jquery.unobtrusive-ajax.js"></script>
@section Scripts{

    <script>

        $(function () {
            $('#parametrizacionNav').addClass('active');
            $('#parametrizacion').addClass('show');
            $('#nav-messageserror').addClass('active');
            CreateAllTooltips();
        });

        document.addEventListener('reloadend', function (e) {
            CreateAllTooltips();
            addKeyboardEvents();
            hideLoading();
        });

        [].forEach.call(document.getElementsByClassName('mvc-grid'),
            function (element) {
                new MvcGrid(element);
            });

    </script>
}
