@model IEnumerable<Ferreteria.Application.Website.Models.ProductModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit", "Product");
}

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.ProductCode).Titled("Código Producto").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Name).Titled("Nombre").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.PriceMoney).Titled("Precio").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Category.Name).Titled("Categoría").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Supplier.Name).Titled("Proveedor").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.StockQuantity).Titled("Cantidad").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.IsEnabled).Titled("Activo").RenderedAs(x => x.IsEnabled ? "SI" : "NO");
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"Product.OpenEdit('{urlEdit}?id={s.ProductId}');\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
