@inject Core.Domain.ValuesCatalogService.IValueCatalogService _valueCatalogService;
@{
    var applicationInfo = _valueCatalogService.GetApplicationInfo().Result;
    ViewData["Title"] = "Contraseña cambiada";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/favicon.png" />
    <title>@ViewData["Title"] - @applicationInfo.Name</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/sb-admin-2.css" />
</head>
<body class="bg-white">
    <div class="">
        <main role="main" class="pb-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-12 col-md-9">
                        <div class="card o-hidden border-0 my-5 shadow-lg">
                            <div class="card-body p-0">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div class="text-center" style="display: flex; justify-content: center;">
                                            <div class="icon-circle btn-success p-4">
                                                <i class="fas fa-check text-white"></i>
                                            </div>
                                        </div>     
                                        <br />
                                        <h1 class="h4 text-gray-900 mb-2"><b>Contraseña cambiada</b></h1>
                                        <br />
                                        <p class="mb-2">
                                            Se realizó el cambio de la contraseña, por favor regrese a iniciar sesión.
                                        </p>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="text-center">
                                        <p>
                                            <a href="@Url.Action("Index","Login")" class="btn btn-primary btn-user">&larr; Volver al inicio</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>