@using NonFactors.Mvc.Grid

@{
    ViewBag.Title = "Reportes";
    ViewBag.SubTitle = "Ejecutar reporte";
}

<link href="~/css/core/mvc-grid/mvc-grid.css" rel="stylesheet" />
<link href="~/css/jquery.json-viewer.css" rel="stylesheet" />

<div class="col-md-12 col-xl-12 col-sm-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="col-12">
                <div class="form-inline">
                    <h4 class="card-title ">
                        Reportes
                    </h4>
                </div>
                <p class="card-category">
                    Ejecución de reportes del sistema
                </p>

            </div>
        </div>
        <div class="card-body">
            <form id="paramsForm">
                <div class="row mb-2">
                    <div class="col-2">
                        @Html.Label("reportsList", "Reporte", new { @class = "" })
                    </div>
                    <div class="col-4">
                        @Html.DropDownList("reportsList", ViewBag.ReportsList, "Seleccione...", htmlAttributes: new { @class = "form-control select2 required", @style = "width:100%;", onchange = "RunReport.LoadReportParameters(this.value);" })
                    </div>
                    <div class="col-2">
                        <input id="btn-preview" type="button" onclick="RunReport.PreviewReport();" class="btn btn-success d-none" value="Consultar">
                    </div>

                    <div class="col-2">
                        <input id="btn-export" type="button" class="btn btn-outline-primary d-none" value="Exportar" onclick="RunReport.ExportReport();" />
                    </div>
                </div>

                <div id="report-parameters"></div>

            </form>

            <div class="row">
                <div id="loading-spin" class="d-none"><div class="spinner-border text-default small"></div>&emsp;</div>
                <h5 id="preview-title" class="d-none">Vista previa</h5>
            </div>
            <div class="table-responsive">
                @Html.AjaxGrid(Url.Action("IndexGrid"))
            </div>
        </div>

        <input type="hidden" id="hfReports" value="@ViewBag.Reports" />

    </div>
</div>

<script src="~/js/core/RunReport/RunReport.js" asp-append-version="true"></script>
<script src="~/js/core/MvcGrid/mvc-grid.js"></script>

@section Scripts{

    <script>
        function RenderGrid() {
            [].forEach.call(document.getElementsByClassName('mvc-grid'),
                function (element) {
                    new MvcGrid(element);
                });
        }

        $(function () {
            $('#nav-run-report').addClass('active');
            CreateAllTooltips();
            $.ajaxSetup({
                global: false
            });

            $('.select2').select2();
        });

        document.addEventListener('reloadend', function (e) {
            CreateAllTooltips();
            addKeyboardEvents();
            hideLoading();
        });

    </script>
}