@model IEnumerable<Core.Application.Website.Models.HomologationValueModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit", "HomologationValue");
    var urlDelete = @Url.Action("Delete", "HomologationValue");
}

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.Homologation.Name).Titled("Homologación");
    columns.Add(c => c.Name).Titled("Nombre");
    columns.Add(c => c.Value).Titled("Código");
    columns.Add(c => c.ValueApproved).Titled("Código Homologado");    
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"HomologationValue.OpenEdit('{urlEdit}?id={s.Id}');\"></i> <i class='fa fa-trash btn-lg text-danger-icon gel-tab-key' tabindex='0' data-tippy-content='Eliminar' style='margin-left:8px' onclick=\"HomologationValue.Delete('{urlDelete}?id={s.Id}','{s.HomologationId}')\"></i></div>").Encoded(false);
})
)
