@{
    ViewBag.Title = "Error";
}

@model Core.Application.Website.Models.HandleErrorModel
<div class="text-center">
    <div class="error mx-auto" data-text="@Model.StatusCode">@Model.StatusCode</div>
    <p class="lead text-gray-800 mb-5">
        @(Model.StatusCode == 404 ? "Pagina no encontrada." : "Ocurió un error.")
    </p>
    <br />
    <br />

    <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-user">&larr; Volver al inico</a>
</div>