@model IEnumerable<Core.Application.Website.Models.Recaudo.EntidadModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit");
    var urlDelete = @Url.Action("Delete");
}

@(
Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.NombreTipoEntidad).Titled("Tipo Entidad").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.CodigoEntidad).Titled("Código Entidad").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.TipoIdentificacion).Titled("Tipo Identificación").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.NumeroIdentificacion).Titled("Número de Identificación").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.DigitoChequeo).Titled("Digito de Chequeo").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.NombreGrupo).Titled("Grupo").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.NombreTipoEstado).Titled("Tipo Estado").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.NombreEstado).Titled("Estado").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaConstitucion).Titled("Fecha Constitución").RenderedAs(s => s.FechaConstitucion.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaAutorizacion).Titled("Fecha Autorización").RenderedAs(s => s.FechaAutorizacion.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaInscripcion).Titled("Fecha Inscripción").RenderedAs(s => s.FechaInscripcion.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaFinalInscripcion).Titled("Fecha Final Inscripción").RenderedAs(s => s.FechaFinalInscripcion?.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.NombreTipoEntidadSes).Titled("Tipo Entidad Ses").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.NombreEstadoSes).Titled("Estado Entidad Ses").UsingDefaultFilterMethod("contains");
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"Entidad.OpenEdit('{urlEdit}?tipoEntidad={s.TipoEntidad}&codigoEntidad={s.CodigoEntidad}');\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
