@model IEnumerable<Core.Application.Website.Models.Monitoreo.MonFechaCorteModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit");
}

@(
Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.Corte).Titled("Corte").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaHoraPlanvisita).Titled("Fecha Hora Plan Visita").RenderedAs(s => s.FechaHoraPlanvisita.ToString("dd/MM/yyyy HH:mm:ss")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaInicio).Titled("Fecha Inicio").RenderedAs(s => s.FechaInicio.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaFin).Titled("Fecha Fin").RenderedAs(s => s.FechaFin.ToString("dd/MM/yyyy")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaHoraIniMonitoreo).Titled("Fecha Hora Inicio Monitoreo").RenderedAs(s => s.FechaHoraIniMonitoreo.ToString("dd/MM/yyyy HH:mm:ss")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaHoraAgregados).Titled("Fecha Hora Agregados").RenderedAs(s => s.FechaHoraAgregados.ToString("dd/MM/yyyy HH:mm:ss")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaHoraConInfoSiaf).Titled("Fecha Hora Con Inicio SIAF").RenderedAs(s => s.FechaHoraConInfoSiaf.ToString("dd/MM/yyyy HH:mm:ss")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.FechaHoraConInfoCore).Titled("Fecha Hora Con Inicio CORE").RenderedAs(s => s.FechaHoraConInfoCore.ToString("dd/MM/yyyy HH:mm:ss")).Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"MonFechaCorte.OpenEdit('{urlEdit}?id={s.Id}');\"></i></div>").Encoded(false);

}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
