@model IEnumerable<Core.Domain.ViewModel.Formulator.ValidationVM>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit");
}

@(Html.Grid("MvcGrid/_Grid", Model).Build(columns =>
{
    columns.Add(c => c.TypeFormats).Titled("Tipo Formato").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Format).Titled("Formato").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Error).Titled("Correctiva/Preventiva").RenderedAs(s => s.Error ? "Correctiva" : "Preventiva").UsingDefaultFilterMethod("contains").Sortable(false);
    columns.Add(c => c.Description).Titled("Descripción").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.ExpirationDate).Titled("Fecha Expiración").RenderedAs(s=> s.ExpirationDate != null ? ((DateTime) s.ExpirationDate).ToString("dd/MM/yyyy") : "").Formatted("{0:d}").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.IsOnlySQL).Titled("Solo SQL").RenderedAs(s => s.IsOnlySQL ? "SI" : "NO").UsingDefaultFilterMethod("equals").Sortable(false);
    columns.Add().Titled("Acciones").RenderedAs(s => $"<i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' data-tippy-content=\"Editar\" onclick=\"Validations.OpenEdit('{urlEdit}','{s.Id}');\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                                .Pageable(pager =>
                                                {
                                                    pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                                    pager.ShowPageSizes = true;
                                                    pager.RowsPerPage = 5;
                                                }).Css("table table-bordered table-hover")

)
