@model IEnumerable<Ferreteria.Application.Website.Models.UserInfoModel>
@using NonFactors.Mvc.Grid
@{
    var urlEdit = @Url.Action("Edit", "User");
    var urlDelete = @Url.Action("Delete", "User");
}

@(Html.Grid(Model).Build(columns =>
{
    columns.Add(c => c.Name).Titled("Nombres y Apellidos").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.Email).Titled("Correo").UsingDefaultFilterMethod("contains");
    columns.Add(c => c.IsEnabled).Titled("Activo").RenderedAs(x => x.IsEnabled ? "SI" : "NO");
    columns.Add(c => c.RolesNames).Titled("Roles").UsingDefaultFilterMethod("contains");
    columns.Add().Titled("Acciones").RenderedAs(s => $"<div class='form-inline'><i class='fa fa-edit btn-lg text-primary-icon gel-tab-key' tabindex='0' data-tippy-content='Editar' onclick=\"User.OpenEdit('{urlEdit}?id={s.UserId}');\"></i></div>").Encoded(false);
}).Empty("No se encontraron datos").Filterable().Sortable().Id("my-ajax-grid")
                                        .Pageable(pager =>
                                        {
                                            pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todos" }, { 5, "5" }, { 10, "10" }, { 50, "50" }, { 100, "100" } };
                                            pager.ShowPageSizes = true;
                                            pager.RowsPerPage = 5;
                                        }).Css("table table-bordered table-hover")

)
